body {
	text-align: center;
	font-family: Helvetica;
	font-weight: lighter;
}
.hero{
	font-size:70px;
	font-weight: bold;
	color: white;
	background-color: black;
}
.top-nav{
	font-weight:lighter;
	font-style: underline;
	font-size: 18px
	color: white;
}
.supporting{
	font-size:32px;
	font-weight: bold;
}
h3{
	font-size: 23px;
	font-weight: bold; 
}
p{
	font-size: 14px;
}

.mini{
	color: white;
}
.bottom-nav{
	text-align: left;
}